body {
    font-family: 'Roboto';
    margin: 0;
}

.header {
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.second {
    font-size: 18px;
    color: #E5E7EB;
}

.second a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.interactions {
    background-color: #3882F6;
}

.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    margin: 0 auto;
    max-width: 1200px;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.left-intro {
    display: flex;
    flex-direction: column;
}

.background {
    background-color: #1F2937;
}